<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Alaa\ScopeConfig\Model\ScopeConfigReaderInterface"
                type="Alaa\ScopeConfig\Model\ScopeConfigReader"/>
    <preference for="Alaa\ScopeConfig\Model\ScopeConfigWriterInterface"
                type="Alaa\ScopeConfig\Model\ScopeConfigWriter"/>
</config>